* {
    font-family: "Press Start 2P", system-ui;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#canvas {
    background-color: #000;
    border: 2px solid #fff;
    max-width: 99vw;
    max-height: 90vh;
    aspect-ratio: 1 / 1;
}


button {
    background: #2D515D;;
    color: white;
    padding: 16px 33px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border: none;

}


#score, #coordinate {
    color: #fff;
    font-size: 24px;
    margin: 10px 0;
}

#gameOver, #welcome, #winGame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver > .content {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 20px solid #2D515D;
}

#gameOver .text {
    margin-bottom: 25px;
}

#welcome > .content {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 20px solid #2D515D;
}

#welcome .text {
    margin-bottom: 33px;
}


#winGame {
    background: black;
    color: white;
    text-align: center;
}

#winGame .code {
    margin-top: 25px;
    font-weight: 800;
    font-size: 30px;
}


#gamepad {
    color: white;
}

